<div class="container mx-auto d-flex">
    <div class="row">
        <div class="pen-title">
            <h1>Create Form</h1>
        </div>
        <!-- Form Module-->
        <div class="module form-module col-md-9 mx-auto">
            <div class="row">
                <div class="form">
                    <form [formGroup]="createCategories">
                        <div class="row">
                            <div class="inputBlock col-sm-6">
                                <input formControlName="categoryName" type="text" placeholder="Category Name" />
                                <span class="errorText"
                                    *ngIf="this.createCategories.controls.categoryName.errors!=null && submitted">Please
                                    enter valid Category Name</span>
                            </div>
                            <div class="inputBlock col-sm-6">
                                <input formControlName="description" type="text" placeholder="Description" />
                                <span class="errorText"
                                    *ngIf="this.createCategories.controls.description.errors!=null && submitted">Please
                                    enter valid Description</span>
                            </div>
                        </div>
                        <div class="row">
                            <label><input type="checkbox" [checked]="checked" (change)="categorySelected()" />Is
                                Category</label>
                            <div *ngIf="isCategorySelected">
                                <label for="dropdown">Parent:</label>
                                <select id="dropdown" formControlName="parentLevel">
                                    <option value="" disabled selected>Select</option>
                                    <option *ngFor="let option of categoriesList" [value]="option.parentLevel">
                                        {{ option.categoryName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="buttonBlock">
                            <button (click)="onBackClick()">Back</button>
                            <button *ngIf="!editEnable" (click)="onSubmit()">Create</button>
                            <button *ngIf="editEnable" (click)="onEditSubmit()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>