<div class="container mx-auto d-flex">
    <div class="row">
        <div class="pen-title">
            <h1>Shree Electronic's</h1>
        </div>
        <!-- Form Module-->
        <div class="module form-module col-md-9 mx-auto">
            <div class="row">
                <div class="form">
                    <form>
                        <img src="../assets/images/user.png" alt="">
                        <input type="text" placeholder="Username" />
                        <input type="password" placeholder="Password" />
                        <button>Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>