.logo-wall { 
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff url('src/assets/images/bg-repeat.jpg') repeat center top;
    overflow: hidden;
    animation: scrollBackground 30s linear infinite;
    -webkit-animation: scrollBackground 30s linear infinite;
    -moz-animation: scrollBackground 30s linear infinite;
    -o-animation: scrollBackground 30s linear infinite;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.09;
}

.logo-wall img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -51px;
    margin-left: -51px;
}