@import "variables.less";

* {
    box-sizing: border-box; 
    font-family: @fontfamily;
  } 
  app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    width: 99.8%;
  }

  #main {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
