@import "variables.less";

* {
    box-sizing: border-box; 
    font-family: @fontfamily;
  } 
  app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }

  #main {
    display: flex;
    flex: 1;
    margin: 0 auto;
  }
  