<div class="container-fluid top-info-boxes">
    <div class="row">
        <div class="col-3" *ngFor="let data of boxData | keyvalue">
            <div class="top-boxes">
                <div class="count">{{data.value}}</div>
                <div class="title">{{data.key}}</div>
            </div>
        </div>

        <div class="col-6">
            <div class="top-boxes">
                <div *ngFor="let data of earningData | keyvalue">
                    <div class="count">{{data.value}}</div>
                    <div class="title">{{data.key}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 best-selling-table global-table-style">
            <div class="table-heading">
                <h2>EMI remider</h2>
            </div>
            <div class="table-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Coming EMI date</th>
                            <th>Product Name</th>
                            <th>Emi price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let custemi of customeremiremider">
                            <td>{{ custemi.userName }}</td>
                            <td>{{ custemi.emiDate | date : 'dd/MM/YYYY' }}</td>
                            <td>{{ custemi.productName }}</td>
                            <td>{{ custemi.emiAmount | currency: 'INR':'symbol':'1.0-0' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 best-offers-table global-table-style">
            <div class="table-heading">
                <h2>Best offers</h2>
            </div>

            <div class="table-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Offer Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of bestoffer">
                            <td>{{ offer.name }}</td>
                            <td>{{ offer.dtstart }}</td>
                            <td>{{ offer.dtend }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12 best-selling-table global-table-style">
            <div class="table-heading">
                <h2>Best Selling Products</h2>
            </div>
            <div class="table-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of bestproduct">
                            <td>{{ product.productName }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.price | currency: 'INR':'symbol':'1.0-0' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>